footer {
    background: $mainColor;
    color: rgb(76, 76, 76);
    font-weight: 700;
    text-align: left;
    h4 {
        margin: 5px 0 15px 0;
        text-align: left;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
    }
    .links .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .container {
        .content {
            width: 23%;
            margin-right: 2.66%;
        }
        .content:nth-of-type(4), .content:nth-of-type(5) {
            margin-right: 0;
        }
        &:first-child h4 {
            color: #53c9eb;
        }
        .container.social .container {
            width: 100%;
        }
        .container.social .container i {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .links:nth-child(2) .content:first-child h4 {
        color: #ee2462;
    }
    .links:nth-child(2) .content:nth-child(2) h4, .links:nth-child(2) .content:nth-child(2), .links .contactFooter h4 .featureLink {
        color: #53c9eb;
    }
    .links .tutorialsFooter h4, .links .tutorialsFooter .featureLink, .links .social h4 {
        color: rgb(182, 213, 70);
    }
    .links .social h4 {
        margin-top: 40px;
    }
    .links:nth-child(2) .content:nth-child(2) li, .links:nth-child(2) .content:nth-child(3) li {
        padding: 10px 0;
    }
    .links:nth-child(2) .content li:first-child {
        padding-top: 0;
    }
    .links:nth-child(2) .content:nth-child(2) li, .links:nth-child(2) .content:nth-child(3) li {
        position: relative;
    }
    .links:nth-child(2) .content:nth-child(2) li::after, .links:nth-child(2) .content:nth-child(3) li::after {
        content: "";
        width: 53%;
        height: 1px;
        background: #4c4c4c;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .links:nth-child(2) .content:nth-child(2) li:last-of-type::after, .links:nth-child(2) .content:nth-child(3) li:last-of-type::after {
        background: transparent;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: rgb(76, 76, 76);
        .links {
            display: flex;
        }
    }
    img {
        width: 168px;
    }
    p, a  {
        line-height: 2.6rem;
        font-size: 1.3rem;
    }
    .contactInfo {
        display: flex;
        p {
            margin: 0;
        }
    }
    .content i {
        font-size: 1.6rem;
        margin: 6px 15px 0 0;
    }
    .content .social a {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        transition: all 0.25s ease-in;
    }
    .content .social a:last-of-type i {
        margin-right: 0;
    }
    .footerBottom {
        background: rgb(41, 41, 41);
        .wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        i {
            color: rgb(153, 153, 153);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            background: rgb(77, 77, 77);
            border-radius: 50%;
            padding: 12px;
        }
        .designer {
            text-transform: uppercase;
        }
        a {
            margin: 20px 0;
        }
        .iconHolder a i {
            transition: all 0.2s ease-in-out;
        }
        .iconHolder a:hover i {
            color: white;
            background: #999999;
        }
    }
}

// Media Queries!
@media (max-width: 900px) {
    footer .footerBottom {
        margin-top: 75px;
    }
    footer .footerBottom i {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@include tablet {
    footer .container {
        padding: 0 25px;
    }
    footer .container .content:nth-of-type(4) {
        display: flex;
    }
    footer .container .content:nth-of-type(4) .container {
        width: 50%;
        padding: 0;
        display: block;
    }
    footer .links .social h4 {
        margin-top: 5px;
    }
    footer .links .container {
        margin-bottom: 20px;
        justify-content: space-between;
    }
    footer .container .content {
        margin: 0;
        width: 48%;
    }
    footer .container .content:nth-of-type(4) h4, footer .container .content:last-of-type, footer .container .content:nth-of-type(4) .container.social .container {
        width: 100%;
    }
    footer .container .content:nth-of-type(2), footer .container.contactFooter {
        margin-right: 4%;
    }
    footer .container .content:first-of-type {
        display: block;
        width: 100%;
    }
    footer .container.contactFooter .contactInfo, footer .container.social, footer .container.social .container {
        width: 100%;
    }
    footer .container.contactFooter .contactInfo p, footer .container .content .social * {
        max-width: 100%;
        display: inline-block;
    }
    footer .container.contactFooter .contactInfo i {
        display: inline;
    }
    footer .container .content .social h4 {
        display: block;
    }
    footer .container .content {
        display: none;
    }
}
@include smartphone {
    footer .footerTop input, footer .footerTop a, footer .container .content:nth-of-type(4) .contactFooter, footer .container .content:nth-of-type(4) .social {
        width: 100%;
    }
    footer .footerTop input {
        margin-bottom: 15px;
    }
    footer .container .content .contactFooter, .container .content .contactFooter {
        width: 100%;
        display: block;
    }
    footer .container .content:nth-of-type(4) {
        flex-direction: column;
    }
    .footerBottom .wrapper {
        flex-direction: column;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
    .footerBottom .wrapper a {
        margin: 0;
    }
}